
/* Skills Icons */
.icon-box{
    position: relative;
    margin-top: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        align-self: start;
}

.photo{
    height:auto;
    width:85%;
}


/* Description */
p{
    letter-spacing: .05em;
    font-weight: 400;
    text-shadow: 
    1px -1px 0 #767676, 
}

.checkout{
    width: 60vw;
} 